html, body {
    margin: 0;
    padding: 0;
}

div.tile {
    min-width: 96px;
    min-height: 96px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}